.wrapper {
  position: relative;
}

body {
  &.lock {
    overflow-y: hidden;
  }
}

.page-content {
  max-width: 962px;
  margin: auto;
  h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 32px;
  }
  h3 {
    font-size: 20px;
    margin: 0 0 40px;
    font-weight: bold;
    text-align: center;
  }
  p {
    @media #{$lg} {
      font-size: 20px;
      line-height: 1.5;
    }
    font-size: 16px;
    margin: 0 0 24px;
    line-height: 1.7;
  }
  ul {
    @media #{$lg} {
      padding-left: 40px;
      margin: 0 0 24px;
      font-size: 20px;
    }
    padding-left: 20px;
    margin: 0 0 20px;
    font-size: 16px;
    li {
      margin: 0 0 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.slider-block,
.mobile-slider-block {
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

.slider-block {
  display: none;
  @media #{$md} {
    display: block;
  }
  @media #{xxl} {
    max-width: 1440px;
    margin: auto;
  }
}

.mobile-slider-block {
  display: block;
  &.slick-dotted.slick-slider {
    margin: 0;
  }
  @media #{$md} {
    display: none;
  }
}
