$black: #000000;
$green: #00704a;
$dark-grey: #888888;
$light-grey: #dfdfdf;
$white: #ffffff;
$copyright-font-color: #848484;
$copyright-bg-color: #4d4d4d;
$red: #dc0c3e;
$yellow: #e3ae0a;

$sm: "screen and (min-width: 576px)";
$md: "screen and (min-width: 768px)";
$lg: "screen and (min-width: 992px)";
$xl: "screen and (min-width: 1200px)";
$xxl: "screen and (min-width: 1400px)";
